
@{
    ViewBag.Title = "TShirtStore";
}

<h2>Welcome to my T-Shirt Store!</h2>

<form method="GET" action="/TShirt/Confirm">
    <div>
        <label>Name:</label>
        <input type="text" name="CustomerName" />
    </div>

    <div>
        <label>Pick your size:</label>
        <select name="OrderSize">
            <option value="1">Small: $10.00</option>
            <option value="2">Medium: $15.00</option>
            <option value="3">Large: $20.00</option>
        </select>
    </div>

    <div>
        <label>Pick your colour:</label>
        <select name="OrderColour">
            <option value="1">Blue: +$5.00</option>
            <option value="2">Red: +$0.00</option>
            <option value="3">Black: +$10.00</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit!"/>
    </div>
</form>