
@{
    ViewBag.Title = "Thanks";
}

<h2>Thank you for getting in touch!</h2>
<p>@ViewData["Summary"]</p>

<ul>
    <li>@ViewData["ContactName"]</li>
    <li>@ViewData["ContactSubject"]</li>
    <li>@ViewData["ContactMessage"]</li>
</ul>